.icon-bars-voicey {
  height: 15px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.icon-bars-voicey > div {
  height: 2px;
  width: 80%;
  background-color: #fff;
}
